html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  min-height: 100vh;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: 3em;
  margin-top: 9em;
  box-shadow: 0 2em 2em hsla(237, 12%, 33%, 0.5);
  max-width: 75%;
  width: 100%;
  padding-top: 7em;
}

h1 {
  color: hsl(237, 12%, 33%);
  font-weight: 700;
}

.faq-img {
  position: absolute;
  top: 2em;
  max-width: 25em;
}

.main-img {
  display: block;
  z-index: 3;
  position: absolute;
}

.background-img {
  display: block;
  z-index: 1;
  position: relative;
  top: 7em;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#faq {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.faq-item {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  color: hsl(240, 6%, 50%);
}

.answer {
  display: block;
  margin-bottom: 2em;
}

.faq-btn {
  all: unset;
  cursor: pointer;
  margin-bottom: 1em;
  width: 100%;
}

.faq-btn-content {
  display: flex;
  justify-content: space-between;
}

.question {
  margin-right: 1em;
}

.faq-item .question:hover {
  color: orange;
}

.faq-item.selected .question {
  font-weight: 700;
  color: hsl(237, 12%, 33%);
}

.faq-item.selected img {
  transform: rotate(180deg);
  transition: 250ms ease all;
}

.expand-icon {
  align-self: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
